.input {
  display: flex;
  flex-direction: column;

  margin-bottom: 20px;

  font-size: 10px;
  line-height: 12px;
}

.input:last-of-type {
  margin-bottom: 0;
}

.input__input {
  box-sizing: border-box;
  height: 46px;
  margin-top: 10px;
  padding: 13px 15px;

  border: 0;
  border-radius: 8px;
  outline: 0;
  background: #f9f9f9;

  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
}

.input__input:focus {
  box-sizing: border-box;

  border: 1px solid #e8e8e8;
}

.input__input_error {
  color: #ee3465;
}

.input__error {
  margin-top: 10px;

  color: #ee3465;
}
