.socials {
  width: calc(100% - 20px);
}

.socials__items {
  display: flex;
  flex-wrap: wrap;

  margin: -6px -20px 0 0;
  padding: 0;
}

.socials__item {
  flex: 1 1 auto;

  width: 100%;
  max-width: min-content;
  margin: 6px 20px 0 0;
  padding: 0;

  list-style-type: none;
}

.socials__item:last-of-type {
  margin-right: 0;
}

.socials__link {
  width: min-content;

  text-decoration: none;

  color: #000;

  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  line-height: 17px;
}

.socials__link:hover {
  transition: opacity 0.2s linear;

  opacity: 0.6;
}

@media (max-width: 320px) {
  .socials__items {
    margin-right: -26px;
  }

  .socials__item {
    margin-right: 26px;
  }
}
