.filter-checkbox {
  position: relative;

  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: center;

  width: max-content;
  margin: 0;
  padding: 10px 0;

  cursor: pointer;

  font-weight: normal;
  font-style: normal;
  line-height: 18px;
}

.filter-checkbox__input {
  position: absolute;
  z-index: -1;

  width: 1px;
  height: 1px;

  opacity: 0;
}

.filter-checkbox__text {
  display: flex;
  align-items: center;

  font-size: 13px;
  line-height: 18px;
}

.filter-checkbox__text::before {
  display: inline-block;

  float: left;

  width: 36px;
  height: 20px;
  margin: 0 14px 0 0;
  padding: 0;

  content: '';

  border: 0;

  background: transparent url('../../../../images/checkbox-short-film.svg') no-repeat center;
  background-size: 100% 100%;
}

.filter-checkbox__input:checked + .filter-checkbox__text::before {
  background:
    transparent url('../../../../images/checkbox-short-film-checked.svg')
    no-repeat center;
}

.filter-checkbox:hover {
  transition: opacity 0.2s linear;

  opacity: 0.6;
}

@media (max-width: 320px) {
  .filter-checkbox {
    display: flex;
    justify-content: center;

    width: max-content;
    padding: 0;
  }

  .filter-checkbox__text {
    font-size: 11px;
    line-height: 18px;
  }

  .filter-checkbox__text::before {
    margin: 0 13px 0 0;
  }
}
