.navigation {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  padding: 0;
}

.navigation__link {
  margin-right: 20px;
  padding: 0;

  text-decoration: none;

  color: #000;

  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 18px;
}

.navigation__link:last-of-type {
  margin-right: 0;
}

.navigation__link:hover {
  transition: opacity 0.2s linear;

  opacity: 0.6;
}

.navigation__link_active {
  font-weight: 500;
}

.navigation__link_visible {
  display: none;
}

.navigation__link-profile {
  margin-left: 50px;
  padding: 6px 10px 6px 29px;

  text-decoration: none;

  color: #000;

  border: 2px rgba(170, 170, 170, 0.2) solid;
  border-radius: 50px;

  background-image: url('../../../../images/profile-link.svg');
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 12px 14px;

  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  line-height: 16px;
}

@media (max-width: 768px) {
  .navigation {
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;

    display: none;
    flex-direction: column;

    width: 100%;
    max-width: 520px;
    height: 100vh;

    background: #fff;
  }

  .navigation__link {
    margin: 0 0 28px;

    text-align: center;

    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
  }

  .navigation__link_active {
    margin-bottom: 24px;
    padding-bottom: 4px;

    border-bottom: 2px solid black;

    font-weight: normal;
  }

  .navigation_active {
    display: flex;
  }

  .navigation__link-profile {
    margin: 0 0 90px;

    font-size: 14px;
    line-height: 16px;
  }

  .navigation__links {
    display: flex;
    align-items: center;
    flex: 1;
    flex-direction: column;

    padding: 159px 90px 20px;
  }
}

@media (max-width: 320px) {
  .navigation {
    max-width: 100%;
  }

  .navigation__links {
    padding: 144px 10px 46px;
  }

  .navigation__link {
    margin: 0 0 24px;
  }

  .navigation__link_active {
    margin-bottom: 16px;
    padding-bottom: 7px;
  }

  .navigation__link-profile {
    margin: 0 0 46px;
  }
}
